In [90]:
import pandas as pd
import numpy as np

In [224]:
addr = pd.read_excel("data/공공자전거 대여소 정보.xlsx", sheet_name='대여소 현황')
print(addr.head())
addr.info() #총2083개의 데이터

   대여소\n번호   보관소(대여소)명 소재지(위치)   Unnamed: 3 Unnamed: 4 Unnamed: 5     설치\n시기  \
0      NaN         NaN     NaN          NaN        NaN        NaN        NaT
1      NaN         NaN     자치구         상세주소         위도         경도        NaT
2      NaN         NaN     NaN          NaN        NaN        NaN        NaT
3      NaN         NaN     NaN          NaN        NaN        NaN        NaT
4   1695.0  월계미륭아파트 정문     노원구  노원구 월계동 14     37.6234    127.067 2020-06-17

     설치형태 Unnamed: 8 운영\n방식
0     LCD         QR    NaN
1     NaN        NaN    NaN
2  거치\n대수     거치\n대수    NaN
3     NaN        NaN    NaN
4     NaN         10     QR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2087 entries, 0 to 2086
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   대여소
번호      2083 non-null   float64
 1   보관소(대여소)명   2083 non-null   object
 2   소재지(위치)     2084 non-null   object
 3   Unnamed: 3  2084 non-null   object
 4   Unnamed: 4  2084 non-null   object
 5   Unnamed: 5  2084 non-null   object
 6   설치
시기       2083 non-null   datetime64[ns]
 7   설치형태        1533 non-null   object
 8   Unnamed: 8  554 non-null    object
 9   운영
방식       2083 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 163.2+ KB

In [225]:
addr = addr.drop([0, 1, 2, 3], axis=0) # 4행까지 헤더 제거하기
addr = addr.drop(addr.columns[[6, 9]], axis=1) # 자전거 운영방식, 설치형태, 설치일자 제거

In [226]:
addr.columns=['대여소번호', '대여소명', '위치(행정구)', '주소', '위도', '경도', 'LCD거치대수', 'QR거치대수'] # 직관적인 컬럼명으로 변경
addr.set_index('대여소번호', inplace=True)
addr.reset_index(inplace=True) # 행 번호 초기화(0부터 시작)
addr['대여소번호'] = addr['대여소번호'].astype(int) # 대여소번호의 형을 실수형에서 정수형으로 변환
display(addr.head(10))

,대여소번호,대여소명,위치(행정구),주소,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,노원구 월계동 14,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 압구정로 134,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 봉은사로 지하 102,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 학동로 지하 102,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 언주로 626,37.5125,127.036,10,NaN
5,2305,MCM 본사 직영점 앞,강남구,서울특별시 강남구 언주로 734,37.5206,127.035,10,NaN
6,2306,압구정역 2번 출구 옆,강남구,서울특별시 강남구 압구정로 지하 172,37.5271,127.029,30,NaN
7,2307,압구정 한양 3차 아파트,강남구,서울특별시 강남구 압구정로 321,37.5286,127.039,10,NaN
8,2308,압구정파출소 앞,강남구,서울특별시 강남구 압구정로 311,37.5293,127.036,14,NaN
9,2309,청담역(우리들병원 앞),강남구,서울특별시 강남구 학동로 443,37.5189,127.049,10,NaN

In [227]:
# 도로명 주소에서 구 주소로 변경하기 위해 주소 컬럼만 따로 저장한다.
df = addr['주소']
display(df)
df.to_excel('data/대여소주소.xlsx')

0                 노원구 월계동 14
1          서울특별시 강남구 압구정로 134
2       서울특별시 강남구 봉은사로 지하 102
3        서울특별시 강남구 학동로 지하 102
4           서울특별시 강남구 언주로 626
                ...
2078                 잠원동 55-1
2079               미아동 670-33
2080     서울특별시 송파구 방이동 88-21
2081       서울특별시 송파구 올림픽로 424
2082      서울특별시 성동구 마장로39길 51
Name: 주소, Length: 2083, dtype: object

In [228]:
new_addr= pd.read_excel("data/new_대여소주소.xlsx")
print(new_addr.head())
new_addr.info() # 총 2083개

                      주소                         지번주소
0            노원구 월계동 14           서울특별시 노원구 월계동 21-13
1     서울특별시 강남구 압구정로 134     서울특별시 강남구 신사동 549-1 타워빌딩
2  서울특별시 강남구 봉은사로 지하 102       서울특별시 강남구 역삼동 800 신논현역
3   서울특별시 강남구 학동로 지하 102     서울특별시 강남구 논현동 279-67 논현역
4      서울특별시 강남구 언주로 626  서울특별시 강남구 논현동 249-6 논현로얄팰리스
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083 entries, 0 to 2082
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주소      2083 non-null   object
 1   지번주소    2083 non-null   object
dtypes: object(2)
memory usage: 32.7+ KB

In [229]:
new_addr['소속동'] = new_addr['지번주소'].str.split(" ").str[2] # 동 정보만 뽑아냄.
display(new_addr.head(10)) # 앞 데이터 10개
display(new_addr.tail(10)) # 뒤 데이터 10개
new_addr = new_addr.drop(new_addr.columns[[0]], axis=1) # 도로명주소 제거
display(new_addr.head(5))

                      주소                         지번주소   소속동
0            노원구 월계동 14           서울특별시 노원구 월계동 21-13   월계동
1     서울특별시 강남구 압구정로 134     서울특별시 강남구 신사동 549-1 타워빌딩   신사동
2  서울특별시 강남구 봉은사로 지하 102       서울특별시 강남구 역삼동 800 신논현역   역삼동
3   서울특별시 강남구 학동로 지하 102     서울특별시 강남구 논현동 279-67 논현역   논현동
4      서울특별시 강남구 언주로 626  서울특별시 강남구 논현동 249-6 논현로얄팰리스   논현동
5      서울특별시 강남구 언주로 734   서울특별시 강남구 논현동 97 성주그룹빌딩 본관   논현동
6  서울특별시 강남구 압구정로 지하 172       서울특별시 강남구 신사동 668 압구정역   신사동
7     서울특별시 강남구 압구정로 321     서울특별시 강남구 압구정동 489 한양아파트  압구정동
8     서울특별시 강남구 압구정로 311    서울특별시 강남구 압구정동 483 압구정파출소  압구정동
9      서울특별시 강남구 학동로 443      서울특별시 강남구 청담동 47-5 정한빌딩   청담동

                        주소                           지번주소  소속동
2073               양재동 351            서울특별시 서초구 양재동 351-1  양재동
2074         양천구 신정동 327-4    서울특별시 양천구 신정동 327-4 구두수선대30  신정동
2075         양천구 신정동 323-1                 서울특별시 양천구 신정동   신정동
2076              광나루로 592  서울특별시 광진구 구의동 201-26 우성식품주식회사  구의동
2077            우이동 207-14           서울특별시 강북구 우이동 207-14  우이동
2078              잠원동 55-1             서울특별시 서초구 잠원동 55-1  잠원동
2079            미아동 670-33           서울특별시 강북구 미아동 670-33  미아동
2080  서울특별시 송파구 방이동 88-21    서울특별시 송파구 방이동 88-21 서울올림픽미술관  방이동
2081    서울특별시 송파구 올림픽로 424         서울특별시 송파구 방이동 88 올림픽공원  방이동
2082   서울특별시 성동구 마장로39길 51   서울특별시 성동구 마장동 766-25 마장동오피스텔  마장동

                          지번주소  소속동
0          서울특별시 노원구 월계동 21-13  월계동
1     서울특별시 강남구 신사동 549-1 타워빌딩  신사동
2       서울특별시 강남구 역삼동 800 신논현역  역삼동
3     서울특별시 강남구 논현동 279-67 논현역  논현동
4  서울특별시 강남구 논현동 249-6 논현로얄팰리스  논현동

In [230]:
# 새로 만든 동이 포함된 주소를 기존 addr에 붙이기
addr.insert(4, '지번주소', new_addr['지번주소'])
addr.insert(5, '소속동', new_addr['소속동'])
display(addr.head())

,대여소번호,대여소명,위치(행정구),주소,지번주소,소속동,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,노원구 월계동 14,서울특별시 노원구 월계동 21-13,월계동,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 압구정로 134,서울특별시 강남구 신사동 549-1 타워빌딩,신사동,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 봉은사로 지하 102,서울특별시 강남구 역삼동 800 신논현역,역삼동,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 학동로 지하 102,서울특별시 강남구 논현동 279-67 논현역,논현동,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 언주로 626,서울특별시 강남구 논현동 249-6 논현로얄팰리스,논현동,37.5125,127.036,10,NaN

In [231]:
addr.info()
addr.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083 entries, 0 to 2082
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   대여소번호    2083 non-null   int32
 1   대여소명     2083 non-null   object
 2   위치(행정구)  2083 non-null   object
 3   주소       2083 non-null   object
 4   지번주소     2083 non-null   object
 5   소속동      2083 non-null   object
 6   위도       2083 non-null   object
 7   경도       2083 non-null   object
 8   LCD거치대수  1531 non-null   object
 9   QR거치대수   552 non-null    object
dtypes: int32(1), object(9)
memory usage: 154.7+ KB

,대여소번호,대여소명,위치(행정구),주소,지번주소,소속동,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,노원구 월계동 14,서울특별시 노원구 월계동 21-13,월계동,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 압구정로 134,서울특별시 강남구 신사동 549-1 타워빌딩,신사동,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 봉은사로 지하 102,서울특별시 강남구 역삼동 800 신논현역,역삼동,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 학동로 지하 102,서울특별시 강남구 논현동 279-67 논현역,논현동,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 언주로 626,서울특별시 강남구 논현동 249-6 논현로얄팰리스,논현동,37.5125,127.036,10,NaN

In [232]:
# 기존에 갖고있던 도로명 주소 칼럼 삭제하기
addr = addr.drop(addr.columns[[3]], axis=1)

In [233]:
# 자전거 대여소의 동 주소 뽑아내기 완료.
addr.head()

,대여소번호,대여소명,위치(행정구),지번주소,소속동,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,월계동,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,신사동,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,역삼동,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,논현동,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,논현동,37.5125,127.036,10,NaN

In [234]:
addr.set_index('소속동', inplace=True)

In [235]:
# LCD 거치대수와 QR 거치대수의 결측치 값 0으로 변경
addr.fillna(0, inplace=True)
display(addr.head())

,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,LCD거치대수,QR거치대수
소속동,,,,,,,,
월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,0,10
신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10,0
역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10,0
논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15,0
논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10,0

In [236]:
#거치대수를 합치고, 기존에 있는 LCD, QR거치대수 칼럼을 제거한다.
addr['총거치대수'] = addr[['LCD거치대수', 'QR거치대수']].sum(axis=1)

In [238]:
addr = addr.drop(addr.columns[[6]], axis=1)

In [240]:
addr = addr.drop(addr.columns[[6]], axis=1)
display(addr.head())

,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,총거치대수
소속동,,,,,,,
월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,10
신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10
역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10
논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15
논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10

In [242]:
addr.info() # 총 2083개의 칼럼

<class 'pandas.core.frame.DataFrame'>
Index: 2083 entries, 월계동 to 마장동
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   대여소번호    2083 non-null   int32
 1   대여소명     2083 non-null   object
 2   위치(행정구)  2083 non-null   object
 3   지번주소     2083 non-null   object
 4   위도       2083 non-null   float64
 5   경도       2083 non-null   float64
 6   총거치대수    2083 non-null   int64
dtypes: float64(2), int32(1), int64(1), object(3)
memory usage: 122.1+ KB

In [250]:
cnt = addr.groupby(addr.index)['총거치대수'].sum()
cnt.sort_values(ascending=False) # 거치대수가 많은 순서대로 내림차순 정렬하였음.

소속동
마곡동     829
여의도동    608
상계동     449
목동      445
상암동     419
       ...
청운동       8
홍파동       8
쌍림동       8
관철동       8
재동        8
Name: 총거치대수, Length: 296, dtype: int64