### **자전거 대여소 정보**

In [131]:
import pandas as pd
import numpy as np

In [217]:
addr = pd.read_excel("data/공공자전거 대여소 정보.xlsx", sheet_name='대여소 현황')
print(addr.head())
addr.info() #총2083개의 데이터

   대여소\n번호   보관소(대여소)명 소재지(위치)   Unnamed: 3 Unnamed: 4 Unnamed: 5     설치\n시기  \
0      NaN         NaN     NaN          NaN        NaN        NaN        NaT
1      NaN         NaN     자치구         상세주소         위도         경도        NaT
2      NaN         NaN     NaN          NaN        NaN        NaN        NaT
3      NaN         NaN     NaN          NaN        NaN        NaN        NaT
4   1695.0  월계미륭아파트 정문     노원구  노원구 월계동 14     37.6234    127.067 2020-06-17

     설치형태 Unnamed: 8 운영\n방식
0     LCD         QR    NaN
1     NaN        NaN    NaN
2  거치\n대수     거치\n대수    NaN
3     NaN        NaN    NaN
4     NaN         10     QR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2087 entries, 0 to 2086
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   대여소
번호      2083 non-null   float64
 1   보관소(대여소)명   2083 non-null   object
 2   소재지(위치)     2084 non-null   object
 3   Unnamed: 3  2084 non-null   object
 4   Unnamed: 4  2084 non-null   object
 5   Unnamed: 5  2084 non-null   object
 6   설치
시기       2083 non-null   datetime64[ns]
 7   설치형태        1533 non-null   object
 8   Unnamed: 8  554 non-null    object
 9   운영
방식       2083 non-null   object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 163.2+ KB

In [218]:
addr = addr.drop([0, 1, 2, 3], axis=0) # 4행까지 헤더 제거하기
addr = addr.drop(addr.columns[[6, 9]], axis=1) # 자전거 운영방식, 설치형태, 설치일자 제거

In [219]:
addr.columns=['대여소번호', '대여소명', '위치(행정구)', '주소', '위도', '경도', 'LCD거치대수', 'QR거치대수'] # 직관적인 컬럼명으로 변경
addr.set_index('대여소번호', inplace=True)
addr.reset_index(inplace=True) # 행 번호 초기화(0부터 시작)
addr['대여소번호'] = addr['대여소번호'].astype(int) # 대여소번호의 형을 실수형에서 정수형으로 변환
display(addr.head(10))

,대여소번호,대여소명,위치(행정구),주소,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,노원구 월계동 14,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 압구정로 134,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 봉은사로 지하 102,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 학동로 지하 102,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 언주로 626,37.5125,127.036,10,NaN
5,2305,MCM 본사 직영점 앞,강남구,서울특별시 강남구 언주로 734,37.5206,127.035,10,NaN
6,2306,압구정역 2번 출구 옆,강남구,서울특별시 강남구 압구정로 지하 172,37.5271,127.029,30,NaN
7,2307,압구정 한양 3차 아파트,강남구,서울특별시 강남구 압구정로 321,37.5286,127.039,10,NaN
8,2308,압구정파출소 앞,강남구,서울특별시 강남구 압구정로 311,37.5293,127.036,14,NaN
9,2309,청담역(우리들병원 앞),강남구,서울특별시 강남구 학동로 443,37.5189,127.049,10,NaN

In [220]:
# 도로명 주소에서 구 주소로 변경하기 위해 주소 컬럼만 따로 저장한다.
df = addr['주소']
display(df)
df.to_excel('data/대여소주소.xlsx')

0                 노원구 월계동 14
1          서울특별시 강남구 압구정로 134
2       서울특별시 강남구 봉은사로 지하 102
3        서울특별시 강남구 학동로 지하 102
4           서울특별시 강남구 언주로 626
                ...
2078                 잠원동 55-1
2079               미아동 670-33
2080     서울특별시 송파구 방이동 88-21
2081       서울특별시 송파구 올림픽로 424
2082      서울특별시 성동구 마장로39길 51
Name: 주소, Length: 2083, dtype: object

In [221]:
new_addr= pd.read_excel("data/new_대여소주소.xlsx")
print(new_addr.head())
new_addr.info() # 총 2083개

                      주소                         지번주소
0            노원구 월계동 14           서울특별시 노원구 월계동 21-13
1     서울특별시 강남구 압구정로 134     서울특별시 강남구 신사동 549-1 타워빌딩
2  서울특별시 강남구 봉은사로 지하 102       서울특별시 강남구 역삼동 800 신논현역
3   서울특별시 강남구 학동로 지하 102     서울특별시 강남구 논현동 279-67 논현역
4      서울특별시 강남구 언주로 626  서울특별시 강남구 논현동 249-6 논현로얄팰리스
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083 entries, 0 to 2082
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주소      2083 non-null   object
 1   지번주소    2083 non-null   object
dtypes: object(2)
memory usage: 32.7+ KB

In [222]:
new_addr['소속동'] = new_addr['지번주소'].str.split(" ").str[2] # 동 정보만 뽑아냄.
display(new_addr.head(10)) # 앞 데이터 10개
display(new_addr.tail(10)) # 뒤 데이터 10개
new_addr = new_addr.drop(new_addr.columns[[0]], axis=1) # 도로명주소 제거
display(new_addr.head(5))

                      주소                         지번주소   소속동
0            노원구 월계동 14           서울특별시 노원구 월계동 21-13   월계동
1     서울특별시 강남구 압구정로 134     서울특별시 강남구 신사동 549-1 타워빌딩   신사동
2  서울특별시 강남구 봉은사로 지하 102       서울특별시 강남구 역삼동 800 신논현역   역삼동
3   서울특별시 강남구 학동로 지하 102     서울특별시 강남구 논현동 279-67 논현역   논현동
4      서울특별시 강남구 언주로 626  서울특별시 강남구 논현동 249-6 논현로얄팰리스   논현동
5      서울특별시 강남구 언주로 734   서울특별시 강남구 논현동 97 성주그룹빌딩 본관   논현동
6  서울특별시 강남구 압구정로 지하 172       서울특별시 강남구 신사동 668 압구정역   신사동
7     서울특별시 강남구 압구정로 321     서울특별시 강남구 압구정동 489 한양아파트  압구정동
8     서울특별시 강남구 압구정로 311    서울특별시 강남구 압구정동 483 압구정파출소  압구정동
9      서울특별시 강남구 학동로 443      서울특별시 강남구 청담동 47-5 정한빌딩   청담동

                        주소                           지번주소  소속동
2073               양재동 351            서울특별시 서초구 양재동 351-1  양재동
2074         양천구 신정동 327-4    서울특별시 양천구 신정동 327-4 구두수선대30  신정동
2075         양천구 신정동 323-1                 서울특별시 양천구 신정동   신정동
2076              광나루로 592  서울특별시 광진구 구의동 201-26 우성식품주식회사  구의동
2077            우이동 207-14           서울특별시 강북구 우이동 207-14  우이동
2078              잠원동 55-1             서울특별시 서초구 잠원동 55-1  잠원동
2079            미아동 670-33           서울특별시 강북구 미아동 670-33  미아동
2080  서울특별시 송파구 방이동 88-21    서울특별시 송파구 방이동 88-21 서울올림픽미술관  방이동
2081    서울특별시 송파구 올림픽로 424         서울특별시 송파구 방이동 88 올림픽공원  방이동
2082   서울특별시 성동구 마장로39길 51   서울특별시 성동구 마장동 766-25 마장동오피스텔  마장동

                          지번주소  소속동
0          서울특별시 노원구 월계동 21-13  월계동
1     서울특별시 강남구 신사동 549-1 타워빌딩  신사동
2       서울특별시 강남구 역삼동 800 신논현역  역삼동
3     서울특별시 강남구 논현동 279-67 논현역  논현동
4  서울특별시 강남구 논현동 249-6 논현로얄팰리스  논현동

In [223]:
# 새로 만든 동이 포함된 주소를 기존 addr에 붙이기
addr.insert(4, '지번주소', new_addr['지번주소'])
addr.insert(5, '소속동', new_addr['소속동'])
display(addr.head())

,대여소번호,대여소명,위치(행정구),주소,지번주소,소속동,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,노원구 월계동 14,서울특별시 노원구 월계동 21-13,월계동,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 압구정로 134,서울특별시 강남구 신사동 549-1 타워빌딩,신사동,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 봉은사로 지하 102,서울특별시 강남구 역삼동 800 신논현역,역삼동,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 학동로 지하 102,서울특별시 강남구 논현동 279-67 논현역,논현동,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 언주로 626,서울특별시 강남구 논현동 249-6 논현로얄팰리스,논현동,37.5125,127.036,10,NaN

In [224]:
addr.info()
addr.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083 entries, 0 to 2082
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   대여소번호    2083 non-null   int32
 1   대여소명     2083 non-null   object
 2   위치(행정구)  2083 non-null   object
 3   주소       2083 non-null   object
 4   지번주소     2083 non-null   object
 5   소속동      2083 non-null   object
 6   위도       2083 non-null   object
 7   경도       2083 non-null   object
 8   LCD거치대수  1531 non-null   object
 9   QR거치대수   552 non-null    object
dtypes: int32(1), object(9)
memory usage: 154.7+ KB

,대여소번호,대여소명,위치(행정구),주소,지번주소,소속동,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,노원구 월계동 14,서울특별시 노원구 월계동 21-13,월계동,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 압구정로 134,서울특별시 강남구 신사동 549-1 타워빌딩,신사동,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 봉은사로 지하 102,서울특별시 강남구 역삼동 800 신논현역,역삼동,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 학동로 지하 102,서울특별시 강남구 논현동 279-67 논현역,논현동,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 언주로 626,서울특별시 강남구 논현동 249-6 논현로얄팰리스,논현동,37.5125,127.036,10,NaN

In [225]:
# 기존에 갖고있던 도로명 주소 칼럼 삭제하기
addr = addr.drop(addr.columns[[3]], axis=1)

In [226]:
# 자전거 대여소의 동 주소 뽑아내기 완료.
addr.head()

,대여소번호,대여소명,위치(행정구),지번주소,소속동,위도,경도,LCD거치대수,QR거치대수
0,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,월계동,37.6234,127.067,NaN,10
1,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,신사동,37.5241,127.022,10,NaN
2,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,역삼동,37.5056,127.024,10,NaN
3,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,논현동,37.5115,127.021,15,NaN
4,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,논현동,37.5125,127.036,10,NaN

In [227]:
addr.set_index('소속동', inplace=True)

In [228]:
# LCD 거치대수와 QR 거치대수의 결측치 값 0으로 변경
addr.fillna(0, inplace=True)
display(addr.head())

,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,LCD거치대수,QR거치대수
소속동,,,,,,,,
월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,0,10
신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10,0
역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10,0
논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15,0
논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10,0

In [229]:
#거치대수를 합치고, 기존에 있는 LCD, QR거치대수 칼럼을 제거한다.
addr['총거치대수'] = addr[['LCD거치대수', 'QR거치대수']].sum(axis=1)

In [230]:
addr = addr.drop(addr.columns[[6]], axis=1)

In [231]:
addr = addr.drop(addr.columns[[6]], axis=1)
display(addr.head())

,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,총거치대수
소속동,,,,,,,
월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,10
신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10
역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10
논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15
논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10

In [232]:
addr.info() # 총 2083개의 칼럼

<class 'pandas.core.frame.DataFrame'>
Index: 2083 entries, 월계동 to 마장동
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   대여소번호    2083 non-null   int32
 1   대여소명     2083 non-null   object
 2   위치(행정구)  2083 non-null   object
 3   지번주소     2083 non-null   object
 4   위도       2083 non-null   float64
 5   경도       2083 non-null   float64
 6   총거치대수    2083 non-null   int64
dtypes: float64(2), int32(1), int64(1), object(3)
memory usage: 122.1+ KB

In [233]:
cnt = addr.groupby(addr.index)['총거치대수'].sum()
display(cnt.sort_values(ascending=False).head()) # 거치대수가 많은 순서대로 내림차순 정렬하였음.

소속동
마곡동     829
여의도동    608
상계동     449
목동      445
상암동     419
Name: 총거치대수, dtype: int64

### **일일 자전거 이용자 수(대여 이력)**
### 2019년 6월부터 2020년 6월까지의 대여 이력을 확인한다.

In [234]:
users = pd.read_csv("data/공공자전거 대여이력 정보_202006.csv", encoding='ansi') # utf-8 아니고 ansi
print(users.head())
users.info()

       자전거번호                 대여일시  대여 대여소번호       대여 대여소명  대여거치대  \
0  SPB-33273  2020-06-01 00:03:05      1050    둔촌역 3번 출입구      0
1  SPB-30703  2020-06-01 00:00:46      1132      등촌역 7번출구      0
2  SPB-31969  2020-06-01 00:02:43      1306    한성대입구역2번출구      0
3  SPB-19763  2020-06-01 00:00:16       956       응암시장교차로      8
4  SPB-32949  2020-06-01 00:04:20       709  신정3동 현장민원실 앞      0

                  반납일시  반납대여소번호      반납대여소명  반납거치대  이용시간    이용거리
0  2020-06-01 00:05:59     1078       둔촌사거리      0     3     0.0
1  2020-06-01 00:06:53     1169   염창역 1번 출구      0     6     0.0
2  2020-06-01 00:06:59      388     동성중학교 앞      0     4     0.0
3  2020-06-01 00:08:25      939    은평구청 교차로      6     7  1340.0
4  2020-06-01 00:08:53      712  강월초교입구 사거리      0     5     0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1755046 entries, 0 to 1755045
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      object
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   대여거치대     int64
 5   반납일시      object
 6   반납대여소번호   int64
 7   반납대여소명    object
 8   반납거치대     int64
 9   이용시간      int64
 10  이용거리      float64
dtypes: float64(1), int64(5), object(5)
memory usage: 147.3+ MB

In [235]:
# 필요없는 칼럼 제거
# 자전거번호, 대여일시, 대여소명, 대여거치대, 반납일시, 반납대여소번호, 반납대여소명, 반납거치대, 이용시간, 이용거리 제거
users = users.drop(users.columns[[0, 1, 3, 4, 5, 6, 7, 8, 9, 10]], axis=1)

In [236]:
display(users.head())

   대여 대여소번호
0      1050
1      1132
2      1306
3       956
4       709

In [237]:
users.columns=['대여소번호'] # 칼럼명 통일
users['202006_대여수'] = 0 # 대여소 위치마다 개수를 세기 위한 작업
users.set_index('대여소번호').head()

       202006_대여수
대여소번호
1050            0
1132            0
1306            0
956             0
709             0

In [238]:
user_cnt = users.groupby('대여소번호').count()
display(user_cnt.sort_values(by=['202006_대여수'], ascending=False).head())

       202006_대여수
대여소번호
207         10682
502         10504
152          7710
2102         7382
2701         6053

In [239]:
addr.reset_index(inplace=True)
display(addr.head())

,소속동,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,총거치대수
0,월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,10
1,신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10
2,역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10
3,논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15
4,논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10

### 이전에 구한 자전거 대여소 정보와 2020년 6월의 자전거 대여수 정보를 합친다.

In [240]:
all = pd.merge(addr, user_cnt, on='대여소번호', how='outer')
display(all.head())

,소속동,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,총거치대수,202006_대여수
0,월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,10.0,NaN
1,신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10.0,2858.0
2,역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10.0,1097.0
3,논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15.0,700.0
4,논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10.0,251.0

In [241]:
# 대여 이력에 있지만 대여소명이 없는 데이터 NaN값을 찾아낸다.
all[all['대여소명'].isnull()]

## 대여소번호가 999로 시작하는 대여소는 정비소로 데이터 제거
all.drop([2093, 2094, 2095, 2096, 2097, 2098, 2099], inplace=True, axis=0)

In [242]:
# 정비소가 아닌데 대여소명과 소속동의 정보가 없는 대여소명 찾기
all[all['대여소명'].isnull()]

      소속동  대여소번호 대여소명 위치(행정구) 지번주소  위도  경도  총거치대수  202006_대여수
2083  NaN      5  NaN     NaN  NaN NaN NaN    NaN        21.0
2084  NaN     10  NaN     NaN  NaN NaN NaN    NaN       106.0
2085  NaN    651  NaN     NaN  NaN NaN NaN    NaN       241.0
2086  NaN   1087  NaN     NaN  NaN NaN NaN    NaN        66.0
2087  NaN   1550  NaN     NaN  NaN NaN NaN    NaN        11.0
2088  NaN   1766  NaN     NaN  NaN NaN NaN    NaN         1.0
2089  NaN   2180  NaN     NaN  NaN NaN NaN    NaN         1.0
2090  NaN   2194  NaN     NaN  NaN NaN NaN    NaN        30.0
2091  NaN   3301  NaN     NaN  NaN NaN NaN    NaN         3.0
2092  NaN   3519  NaN     NaN  NaN NaN NaN    NaN      1851.0

In [243]:
# 대여소번호 03519 --> 영구폐쇄
# 대여소번호 03301 --> 영구폐쇄
# 대여소번호 02194 --> 영구폐쇄
# 대여소번호 02180 --> 영구폐쇄
# 대여소번호 01766 --> 도봉구 도봉로 511. 홈페이지도 대여소 정보 없음.
# 대여소번호 01550 --> 영구폐쇄, 삼각산아이원아파트
# 대여소번호 01087 --> 영구폐쇄, 레미안 솔베뉴(양재대로)
# 대여소번호 00651 --> 영구폐쇄
# 대여소번호 00010 --> 영구폐쇄
# 대여소번호 00005 --> 정비소

### 영구폐쇄한 대여소도 제거

In [244]:
all.set_index('소속동', inplace=True)
display(all.head())

,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,총거치대수,202006_대여수
소속동,,,,,,,,
월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,10.0,NaN
신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10.0,2858.0
역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10.0,1097.0
논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15.0,700.0
논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10.0,251.0

In [245]:
all.reset_index(inplace=True)

In [246]:
all[all['대여소명'].isnull()]

      소속동  대여소번호 대여소명 위치(행정구) 지번주소  위도  경도  총거치대수  202006_대여수
2083  NaN      5  NaN     NaN  NaN NaN NaN    NaN        21.0
2084  NaN     10  NaN     NaN  NaN NaN NaN    NaN       106.0
2085  NaN    651  NaN     NaN  NaN NaN NaN    NaN       241.0
2086  NaN   1087  NaN     NaN  NaN NaN NaN    NaN        66.0
2087  NaN   1550  NaN     NaN  NaN NaN NaN    NaN        11.0
2088  NaN   1766  NaN     NaN  NaN NaN NaN    NaN         1.0
2089  NaN   2180  NaN     NaN  NaN NaN NaN    NaN         1.0
2090  NaN   2194  NaN     NaN  NaN NaN NaN    NaN        30.0
2091  NaN   3301  NaN     NaN  NaN NaN NaN    NaN         3.0
2092  NaN   3519  NaN     NaN  NaN NaN NaN    NaN      1851.0

In [247]:
all.drop([2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092], inplace=True, axis=0)

In [248]:
all[all['대여소명'].isnull()] # 없음

Empty DataFrame
Columns: [소속동, 대여소번호, 대여소명, 위치(행정구), 지번주소, 위도, 경도, 총거치대수, 202006_대여수]
Index: []

In [249]:
display(all.head(10))

,소속동,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,총거치대수,202006_대여수
0,월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,10.0,NaN
1,신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10.0,2858.0
2,역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10.0,1097.0
3,논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15.0,700.0
4,논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10.0,251.0
5,논현동,2305,MCM 본사 직영점 앞,강남구,서울특별시 강남구 논현동 97 성주그룹빌딩 본관,37.520641,127.034508,10.0,310.0
6,신사동,2306,압구정역 2번 출구 옆,강남구,서울특별시 강남구 신사동 668 압구정역,37.527122,127.028717,30.0,837.0
7,압구정동,2307,압구정 한양 3차 아파트,강남구,서울특별시 강남구 압구정동 489 한양아파트,37.528614,127.038559,10.0,1284.0
8,압구정동,2308,압구정파출소 앞,강남구,서울특별시 강남구 압구정동 483 압구정파출소,37.529301,127.035599,14.0,711.0
9,청담동,2309,청담역(우리들병원 앞),강남구,서울특별시 강남구 청담동 47-5 정한빌딩,37.518902,127.049385,10.0,402.0

In [250]:
all.fillna(0, inplace=True) # 결측값 0으로 치환
all['202006_대여수'] = all['202006_대여수'].astype(int) # 대여수 정수로 변환
display(all.head())

,소속동,대여소번호,대여소명,위치(행정구),지번주소,위도,경도,총거치대수,202006_대여수
0,월계동,1695,월계미륭아파트 정문,노원구,서울특별시 노원구 월계동 21-13,37.623417,127.066933,10.0,0
1,신사동,2301,현대고등학교 건너편,강남구,서울특별시 강남구 신사동 549-1 타워빌딩,37.524071,127.021790,10.0,2858
2,역삼동,2302,교보타워 버스정류장(신논현역 3번출구 후면),강남구,서울특별시 강남구 역삼동 800 신논현역,37.505581,127.024277,10.0,1097
3,논현동,2303,논현역 7번출구,강남구,서울특별시 강남구 논현동 279-67 논현역,37.511517,127.021477,15.0,700
4,논현동,2304,신영 ROYAL PALACE 앞,강남구,서울특별시 강남구 논현동 249-6 논현로얄팰리스,37.512527,127.035835,10.0,251

In [251]:
all = all.drop(all.columns[[4, 5, 6]], axis=1)

In [252]:
display(all.head(10))

    소속동  대여소번호                      대여소명 위치(행정구)  총거치대수  202006_대여수
0   월계동   1695                월계미륭아파트 정문     노원구   10.0           0
1   신사동   2301                현대고등학교 건너편     강남구   10.0        2858
2   역삼동   2302  교보타워 버스정류장(신논현역 3번출구 후면)     강남구   10.0        1097
3   논현동   2303                  논현역 7번출구     강남구   15.0         700
4   논현동   2304         신영 ROYAL PALACE 앞     강남구   10.0         251
5   논현동   2305              MCM 본사 직영점 앞     강남구   10.0         310
6   신사동   2306              압구정역 2번 출구 옆     강남구   30.0         837
7  압구정동   2307             압구정 한양 3차 아파트     강남구   10.0        1284
8  압구정동   2308                  압구정파출소 앞     강남구   14.0         711
9   청담동   2309              청담역(우리들병원 앞)     강남구   10.0         402

In [254]:
all.columns=['동', '대여소번호', '대여소명','구', '총거치대수', '202006_대여수']

In [257]:
all['총거치대수'] = all['총거치대수'].astype(int)

In [258]:
display(all.head())

     동  대여소번호                      대여소명    구  총거치대수  202006_대여수
0  월계동   1695                월계미륭아파트 정문  노원구     10           0
1  신사동   2301                현대고등학교 건너편  강남구     10        2858
2  역삼동   2302  교보타워 버스정류장(신논현역 3번출구 후면)  강남구     10        1097
3  논현동   2303                  논현역 7번출구  강남구     15         700
4  논현동   2304         신영 ROYAL PALACE 앞  강남구     10         251

In [259]:
all = all[['대여소번호', '대여소명', '동', '구', '총거치대수', '202006_대여수']]

In [260]:
display(all.head())

   대여소번호                      대여소명    동    구  총거치대수  202006_대여수
0   1695                월계미륭아파트 정문  월계동  노원구     10           0
1   2301                현대고등학교 건너편  신사동  강남구     10        2858
2   2302  교보타워 버스정류장(신논현역 3번출구 후면)  역삼동  강남구     10        1097
3   2303                  논현역 7번출구  논현동  강남구     15         700
4   2304         신영 ROYAL PALACE 앞  논현동  강남구     10         251

In [261]:
display(all.sort_values(by=['202006_대여수'], ascending=False).head(10))

      대여소번호                     대여소명     동     구  총거치대수  202006_대여수
1587    207             여의나루역 1번출구 앞  여의도동  영등포구     40       10682
470     502            뚝섬유원지역 1번출구 앞   자양동   광진구     27       10504
965     152               마포구민체육센터 앞   망원동   마포구     30        7710
375    2102                  봉림교 교통섬   신림동   관악구     20        7382
337    2701            마곡나루역 5번출구 뒤편   마곡동   강서구     15        6053
1117   2219  고속터미널역 8-1번, 8-2번 출구 사이   반포동   서초구     20        5950
419    2177               신대방역 2번 출구   신림동   관악구     19        5322
300    1160              양천향교역 7번출구앞   가양동   강서구     20        5297
517    1906             신도림역 1번 출구 앞  신도림동   구로구     20        5147
1277    583               청계천 생태교실 앞   마장동   성동구      5        5144

In [262]:
#display(all.sort_values(by=['202006_대여수'], ascending=False).tail(10))

      대여소번호                대여소명      동    구  총거치대수  202006_대여수
1285   3547        상왕십리역 6번 출입구  하왕십리동  성동구     10           0
1217   2539  대한무역투자진흥공사 KOTRA 앞    염곡동  서초구     10           0
354    2719              마곡문화공원    마곡동  강서구     20           0
1202   2524         반포쇼핑타운 8동 앞    잠원동  서초구     10           0
265    1114       서남물재생센터 버스정류장    마곡동  강서구     15           0
1875    447              신영동삼거리    신영동  종로구      5           0
1737    859        남산공원 야외식물원 앞   이태원동  용산구     10           0
249    1564      4.19민주묘지역 1번출구    우이동  강북구      7           0
668    1623             노원 구민회관    중계동  노원구     20           0
0      1695          월계미륭아파트 정문    월계동  노원구     10           0