### 자전거 거치대 수 대비 대여수 비율

In [73]:
import pandas as pd
import numpy as np

In [74]:
cnt = pd.read_csv("data/자전거대여수_all.csv", encoding='utf-8')
display(cnt.head())
cnt.info() # 총 2083개의 데이터

   대여소번호                      대여소명    동    구  총거치대수  2020년_대여수  2019년_대여수
0   1695                월계미륭아파트 정문  월계동  노원구     10          0          0
1   2301                현대고등학교 건너편  신사동  강남구     10      11352      17117
2   2302  교보타워 버스정류장(신논현역 3번출구 후면)  역삼동  강남구     10       4762      12548
3   2303                  논현역 7번출구  논현동  강남구     15       2367       8413
4   2304         신영 ROYAL PALACE 앞  논현동  강남구     10        931       2631

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083 entries, 0 to 2082
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   대여소번호      2083 non-null   int64
 1   대여소명       2083 non-null   object
 2   동          2083 non-null   object
 3   구          2083 non-null   object
 4   총거치대수      2083 non-null   int64
 5   2020년_대여수  2083 non-null   int64
 6   2019년_대여수  2083 non-null   int64
dtypes: int64(4), object(3)
memory usage: 114.0+ KB

In [75]:
cnt1 = cnt.drop(cnt.columns[[0, 1, 3]], axis=1)
cnt1.head()

     동  총거치대수  2020년_대여수  2019년_대여수
0  월계동     10          0          0
1  신사동     10      11352      17117
2  역삼동     10       4762      12548
3  논현동     15       2367       8413
4  논현동     10        931       2631

In [76]:
cnt1['총대여수'] = cnt1[['2020년_대여수', '2019년_대여수']].sum(axis=1)
cnt1 = cnt1.drop(cnt1.columns[[2, 3]], axis=1)
cnt1.fillna(0, inplace=True)
display(cnt1.head())

     동  총거치대수   총대여수
0  월계동     10      0
1  신사동     10  28469
2  역삼동     10  17310
3  논현동     15  10780
4  논현동     10   3562

In [77]:
cnt2 = cnt1.groupby(cnt1['동']).sum()
display(cnt2.sort_values(by=['총대여수'], ascending=False).head(5)) # 총대여수 내림차순 정렬

      총거치대수    총대여수
동
여의도동    608  621964
자양동     257  509068
신림동     391  425043
상계동     449  399000
마곡동     829  386268

In [78]:
cnt2['비율'] = round(cnt2['총대여수'] / cnt2['총거치대수'] * 100, 2)
print('[총 거치대수 대비 총 대여수가 낮은 비율 10개]')
display(cnt2.sort_values(by=['비율']).head(10))
print('[총 거치대수 대비 총 대여수가 높은 비율 10개]')
display(cnt2.sort_values(by=['비율']).tail(10))

[총 거치대수 대비 총 대여수가 낮은 비율 10개]

     총거치대수  총대여수      비율
동
사근동      8     0    0.00
장교동     10     0    0.00
번3동     20     0    0.00
원지동     20     6   30.00
남창동     20    14   70.00
효제동     15    22  146.67
현저동     34    52  152.94
구기동     20    49  245.00
부암동     25    84  336.00
항동     218   804  368.81

[총 거치대수 대비 총 대여수가 높은 비율 10개]

       총거치대수    총대여수         비율
동
역촌동       59  105790  179305.08
망원동      101  183053  181240.59
마포동       10   18625  186250.00
양화동       10   18682  186820.00
상왕십리동     10   18779  187790.00
당인동       10   19125  191250.00
신천동       95  184874  194604.21
관철동        8   15569  194612.50
안암동       56  110499  197319.64
자양동      257  509068  198080.93

In [79]:
cnt3 = cnt2.reset_index()

In [80]:
dong = cnt3['동']

In [81]:
dong.to_excel('data/dong_list.xlsx', index=False)

In [ ]:
# 1년동안 따릉이 대여수가 0이라는건 어떤 의미가 있을까
# 비율은 정규화를 해야 할까
# 2019년의 대여수와 2020년 대여수의 증가폭이 큰 곳도 의미있지않을까? (이동 인구가 많다는거니까?)