### 자전거 거치대 수 대비 대여수 비율

In [54]:
import pandas as pd
import numpy as np

In [55]:
cnt = pd.read_csv("data/자전거대여수_all.csv", encoding='utf-8')
display(cnt.head())
cnt.info() # 총 2083개의 데이터

   대여소번호                      대여소명     동    구  총거치대수  2020년_대여수  2019년_대여수
0   1695                월계미륭아파트 정문  월계3동  노원구     10          0          0
1   2301                현대고등학교 건너편   신사동  강남구     10      11352      17117
2   2302  교보타워 버스정류장(신논현역 3번출구 후면)  논현1동  강남구     10       4762      12548
3   2303                  논현역 7번출구  논현1동  강남구     15       2367       8413
4   2304         신영 ROYAL PALACE 앞  논현2동  강남구     10        931       2631

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083 entries, 0 to 2082
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   대여소번호      2083 non-null   int64
 1   대여소명       2083 non-null   object
 2   동          2083 non-null   object
 3   구          2083 non-null   object
 4   총거치대수      2083 non-null   int64
 5   2020년_대여수  2083 non-null   int64
 6   2019년_대여수  2083 non-null   int64
dtypes: int64(4), object(3)
memory usage: 114.0+ KB

In [56]:
cnt1 = cnt.drop(cnt.columns[[0, 1, 3]], axis=1)
cnt1.head()

      동  총거치대수  2020년_대여수  2019년_대여수
0  월계3동     10          0          0
1   신사동     10      11352      17117
2  논현1동     10       4762      12548
3  논현1동     15       2367       8413
4  논현2동     10        931       2631

In [57]:
cnt1['총대여수'] = cnt1[['2020년_대여수', '2019년_대여수']].sum(axis=1)
cnt1 = cnt1.drop(cnt1.columns[[2, 3]], axis=1)
cnt1.fillna(0, inplace=True)
display(cnt1.head())

      동  총거치대수   총대여수
0  월계3동     10      0
1   신사동     10  28469
2  논현1동     10  17310
3  논현1동     15  10780
4  논현2동     10   3562

In [58]:
cnt2 = cnt1.groupby(cnt1['동']).sum()
display(cnt2.sort_values(by=['총대여수'], ascending=False).head(5)) # 총대여수 내림차순 정렬

      총거치대수    총대여수
동
여의동     608  621964
가양1동    948  470514
자양3동    147  268024
상암동     419  245503
당산2동    147  239109

In [59]:
cnt2['비율'] = round(cnt2['총대여수'] / cnt2['총거치대수'] * 100, 2)
print('[총 거치대수 대비 총 대여수가 낮은 비율 10개]')
display(cnt2.sort_values(by=['비율']).head(10))
print('[총 거치대수 대비 총 대여수가 높은 비율 10개]')
display(cnt2.sort_values(by=['비율']).tail(10))

[총 거치대수 대비 총 대여수가 낮은 비율 10개]

       총거치대수  총대여수       비율
동
이태원2동     10     0     0.00
청림동       15     0     0.00
창신1동      40   104   260.00
방학2동      20   140   700.00
후암동       10    72   720.00
신사2동      10    82   820.00
독산2동      14   138   985.71
중곡2동       9    94  1044.44
중화1동       8   105  1312.50
신정2동      40  1020  2550.00

[총 거치대수 대비 총 대여수가 높은 비율 10개]

        총거치대수    총대여수         비율
동
성수2가3동     60  117932  196553.33
잠실4동       30   59385  197950.00
신림동        65  131003  201543.08
등촌3동       59  121151  205340.68
우장산동       42   89819  213854.76
자양1동       44  101249  230111.36
풍납1동       15   35171  234473.33
자양2동       24   58477  243654.17
송파1동       37   98197  265397.30
보라매동       10   36286  362860.00

In [60]:
cnt3 = cnt2.reset_index()

In [61]:
dong = cnt3['동']

In [62]:
dong.to_excel('data/dong_list.xlsx', index=False)

In [10]:
# 1년동안 따릉이 대여수가 0이라는건 어떤 의미가 있을까
# 비율은 정규화를 해야 할까
# 2019년의 대여수와 2020년 대여수의 증가폭이 큰 곳도 의미있지않을까? (이동 인구가 많다는거니까?)

### 생산인구, 경사도, 자전거도로 길이 data와 자전거대여수 data merge

In [63]:
df = pd.read_csv("data/df_HDong.csv", encoding='utf-8')
df.info() # 총 423개의 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  423 non-null    int64
 1   HDong_name  423 non-null    object
 2   workppl     423 non-null    float64
 3   dem         423 non-null    float64
 4   bikelength  423 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 16.6+ KB

In [64]:
display(df.head(5))

   Unnamed: 0 HDong_name  workppl      dem  bikelength
0           1       가락1동  22381.0 -15.5247      7150.0
1           2       가락2동  18686.0 -39.3115      4704.0
2           3       가락본동  25532.0 -30.7845      6932.0
3           4       가리봉동   7566.0 -21.8088         0.0
4           5        가산동  25926.0 -12.9490      2108.0

In [65]:
df = df.drop(df.columns[[0]], axis=1)

In [66]:
display(df.head())

  HDong_name  workppl      dem  bikelength
0       가락1동  22381.0 -15.5247      7150.0
1       가락2동  18686.0 -39.3115      4704.0
2       가락본동  25532.0 -30.7845      6932.0
3       가리봉동   7566.0 -21.8088         0.0
4        가산동  25926.0 -12.9490      2108.0

In [67]:
df.columns=['동', '생산인구', '경사도', '자전거도로길이']

In [68]:
display(df.head())

      동     생산인구      경사도  자전거도로길이
0  가락1동  22381.0 -15.5247   7150.0
1  가락2동  18686.0 -39.3115   4704.0
2  가락본동  25532.0 -30.7845   6932.0
3  가리봉동   7566.0 -21.8088      0.0
4   가산동  25926.0 -12.9490   2108.0

In [69]:
display(cnt3.head())

      동  총거치대수    총대여수        비율
0  가락1동    115   74652  64914.78
1  가락2동     45   33583  74628.89
2  가락본동     55   25487  46340.00
3  가리봉동     10    5621  56210.00
4   가산동    258  160033  62028.29

In [70]:
all = pd.merge(df, cnt3, on='동', how='outer')
display(all.head())

      동     생산인구      경사도  자전거도로길이  총거치대수      총대여수        비율
0  가락1동  22381.0 -15.5247   7150.0  115.0   74652.0  64914.78
1  가락2동  18686.0 -39.3115   4704.0   45.0   33583.0  74628.89
2  가락본동  25532.0 -30.7845   6932.0   55.0   25487.0  46340.00
3  가리봉동   7566.0 -21.8088      0.0   10.0    5621.0  56210.00
4   가산동  25926.0 -12.9490   2108.0  258.0  160033.0  62028.29

In [75]:
all[all['동'].isnull()] # 동이 null인 것은 없음
all[all['생산인구'].isnull()] # 성희가 조사한 동-내가 정리한 동 Null값 없음
all[all['총거치대수'].isnull()] # 동이름 있는데 거치대 수가 없는 즉, 자전거대여소가 없는 동

Empty DataFrame
Columns: [동, 생산인구, 경사도, 자전거도로길이, 총거치대수, 총대여수, 비율]
Index: []

In [74]:
all.fillna(0, inplace=True) # 결측값 0으로 치환

In [76]:
all.to_csv('data/dong_df_1109.csv', index=False, encoding='utf-8')